RAZORPAY_WEBHOOK_SECRET=scanzo123
RAZORPAY_KEY_ID=rzp_live_STxlKmH3jUfhCg
RAZORPAY_KEY_SECRET=QyH1Z6s0wV6N23z7XRmEe53q
RAZORPAY_PLAN_STARTER=plan_SVVP7NfadsPhgb
RAZORPAY_PLAN_MONTHLY=plan_SVVP7NfadsPhgb
RAZORPAY_PLAN_BIANNUAL=plan_SVVTUMhJomsRSD
RAZORPAY_PLAN_ANNUAL=plan_SVVV0PIfP8o8Il
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
