RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_PLAN_STARTER=plan_SM3xZtpopcZuXU
RAZORPAY_PLAN_MONTHLY=plan_SM3xZtpopcZuXU
RAZORPAY_PLAN_BIANNUAL=plan_SRTUWIOIA07Ft3
RAZORPAY_PLAN_ANNUAL=plan_SRTV4UVCMxXWq7
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
